// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.product-name {
    text-transform: uppercase;
}

.product-picture {
    max-height: 10rem;
}

.cart-picture {
    max-height: 5rem;
}

.stripe-button-el {
    background-image: none !important;
    position: absolute !important;
    top: 50vh !important;
    right: calc(50vw - 5rem) !important;
    min-height: auto !important;
    min-width: 10rem !important;
    padding: 0 !important;

    span {
        display: inline-block !important;
        font-weight: 400 !important;
        color: #212529 !important;
        text-align: center !important;
        vertical-align: middle !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
            -ms-user-select: none !important;
                user-select: none !important;
        background: none !important;
        background-image: none !important;
        background-color: transparent !important;
        border: 1px solid transparent !important;
        padding: 0.375rem 0.75rem !important;
        font-size: 0.9rem !important;
        line-height: 1.6 !important;
        border-radius: 0.25rem !important;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
        color: #fff !important;
        background-color: #3490dc !important;
        border-color: #3490dc !important;
        font-family: 'Nunito', sans-serif !important;
        text-shadow: none !important;
        box-shadow: none !important;
        position: relative !important;
        height: auto !important;
        min-width: 10rem;
    }
  }
